*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     font-family: 'Rubik', sans-serif; 
    text-decoration: none;
    transition: 0.3s;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    z-index: 1000;

}

header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
   
}
header nav .nav-links a{
    color: #fff;
    margin-left: 50px;
}
header{
 background-color: #0097b2;
}
header nav .nav-links a:hover,
header nav .nav-links{
    color:  #faac94;
}

#btn-menu{
    display: none;
    
} 
body{
    padding: 0;
    margin: 0;
}
section{
    margin-top: 150px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    gap: 5px;
}
.card-title{
    color: #0097b2;
    font-weight: bold;
    text-align: center;
    font-size: 45px;
}
.card{
    text-align: center;
    flex: 1 1 250px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    transition: transform 0.3s ease;
    padding: 20px;

}
.card:hover{
    transform: translateY(-5px);
}
.card img{
    width: 100%;
    display: block;
    border-radius: 10px;
}
.one{
    color: #0097b2;
    font-weight: bold;
    text-align: center;
    font-size: 30px;

}
.btn-1{
    padding: 10px 15px;
    color: #fff;
    background-color: #0097b2;
    border-radius: 15px;
    border: 1px solid #fff;
}
.btn:hover{
    color: #ff6700;
    background: #fff;
    border: 1px solid  #0097b2;
}
.btn-1:hover{
    color: #ff6700;
    background: #fff;
    border: 1px solid  #0097b2;
}
.btn{
    background-color: #0097b2;
    color: white;
    font-weight: bold;
    width: 100%;
    padding: 8px 10px;
    font-size: 30px;
    border: none;
    border-radius: 10px;

}
.btn:hover{
    cursor: pointer;
}
/* @media(max-width:600px){
    .container{
            flex-direction: column;
            align-items: center;


    }
    .card{
        width: 100%;
        max-width: 90%;
    }
} */

.whatsapp-widget {
    position: fixed;  
    bottom: 25px; 
   left: 10px;
   width: 60px;
   height: 60px; 
   text-align: center;
   margin-bottom: 25px;
}
.whatsapp-widget i{
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}


.footer {
  background-color:  #0097b2;
  color: #fff;
  padding: 20px 10px;
}
.foot{
    align-items: end;
}

.footer-container {
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content:space-between ;
  align-items: center;
  flex-wrap: wrap;
}

.footer-left,
.footer-center,
.footer-right {
  flex: 1;
  text-align: center;
}

.footer-left {
  text-align: left;
}
 
.footer-right {   
  text-align: right;
  margin-right: 30px;
  margin-bottom: 25px;
  justify-content: center; 
  
  
  
} 

.footer-center p {
  margin: 0;
  font-size: 14px;
}
.social-icons{
    display: flex;
    gap: 5px;
    justify-content: start; 
  align-items:start;
  
}

.social-icons a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;         
  height: 30px;
  border-radius: 50%;  
  background-color: #fff;
  color: #222;       
  font-size: 20px;
  transition: 0.3s;
  text-decoration: none;
}



.social-icons a:hover {
background-color: #1DA1F2;
  color: #fff;
}

.arrow-up {
  font-size: 30px;
  color:  #0097b2;
  transition: color 0.3s;

}

.arrow-up:hover {
  color: #00aced;
}

 .icon{
    margin-left: 30px; 
    font-size: 45px;
    margin-bottom: 20px;
} 


.footer .con{
    color: #fff;
}

@media(max-width:1200px){
    .contanier{
        width: 90%;
    }
}
@media(max-width:900px){
    
    header nav .nav-links a{
        margin-left: 40px;
    }
}
@media(max-width:780px){
.btn{
        padding: 12px 25px;
    }
    #btn-menu{
        display: block;
         font-size: 35px;
      cursor: pointer;
      padding: 10px; 
       color: #fff;
       margin-left: 180px; 

    
    
    }
    header nav .nav-links{
    
        position: absolute;
        top: -350px;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction:column; 
        background-color:  #0097b2;  
     
    }

     header nav .nav-links.active{
       top: 100%; 
    } 
    header nav .nav-links a{
        width: 100%;
        margin: auto;
        padding: 20px;
        text-align: center;
        font-size: 20px; 
        
       
    }
    header nav .nav-links a.active,
    header nav .nav-links a:hover{
        background-color: #e4ddd0;
        color: #1c1e22;
    
    }
    
}
@media(max-width:670px){
.container{
            flex-direction: column;
            align-items: center;


    }
    .card{
        width: 100%;
        max-width: 90%;
    }

}

@media(max-width:500px){
    
}



