/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700;800&family=Rajdhani:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     font-family: 'Rubik', sans-serif; 
    text-decoration: none;
    transition: 0.3s;
}
*::selection{
    background-color: #ff6700;
    color: #fff;
}

html{
    scroll-behavior: smooth;
}
.contanier{
    width: 85%;
    margin: auto;
}
.btn{
    padding: 10px 15px;
    color: #fff;
    background-color: #0097b2;
    border-radius: 15px;
    border: 1px solid #fff;
}
.btn:hover{
    color: #ff6700;
    background: #fff;
}

section{
    padding: 90px 0 40px;
}

.sec-top{
    text-align: center;
    margin-bottom: 70px;
}
.sec-top h1{
    color: #1c1e22;
    font-size: 40px;
} 



.boxs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}
.boxs .box{
    width: 30%;
}
/* start Header */

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    z-index: 1000;

}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
   
}
header nav .nav-links a{
    color: #fff;
    margin-left: 50px;
}
header{
 background-color: #0097b2;
}
header nav .nav-links a:hover,
header nav .nav-links{
    color:  #faac94;
}

#btn-menu{
    display: none;
    
} 


/* start Hero */

.hero{
    padding-top: 80px;
    background: url(.png);
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
     direction: ltr; 
    background-repeat: no-repeat;

}
.hero .contanier{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contanier .h3 span{
    color: #ffaa17;
}

.hero  h3{
    color: #fff;
    font-size: 25px;
    font-family: sans-serif;
}

.hero h2,p{
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hero p{
    font-size: large;
}


.hero .content p{
    color: #e4e4e4;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 70px;
}

 /* start about */ 

 .about {
    padding: 90px 0 50px;
    direction: rtl;
 }
.about .contanier{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    

}
.about .about-img img{
    width: 300px; 
     margin-bottom: 20px;
     margin-top: 30px;

    

}
.about .content{
    margin-top: 80px;
}

.about .content h1{
    color: #0097b2;
}
.about .content p{
    color: #444;
    line-height: 1.8;
    text-align: center;
}

/* start Services */

.services{
    background-color: #f0f4f9;
    text-align: center;
   margin-top: 37px; 
}


.services .boxs .box{
    width: 200px;
    padding: 10px 5px;
    border-radius: 10px;
    position: relative;
    justify-content: space-between;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.services .boxs .box:hover{
    top: -25px;
}
.services .boxs .box i{
    color:  #0097b2;
    font-size: 30px;
    margin-bottom: 20px;
}
.services .boxs .box img{
    height: 30%;
}
.services .boxs .box h3{
    color: #1c1e22;
    font-size: 24px;
    margin-bottom: 20px;
}
.services .boxs .box p{
    color: #444;
    margin-bottom: 50px;
}
.services h1{
    color: #1c4474;
}
/* start Portfolio */
.portfolio .boxs{
    gap: 24px;
}
.card-body{
    text-align: center;
    margin-bottom: 15px;
}
.box p{
    color: #000;
    text-align: center;
}

.portfolio .boxs .box{
    background-color: #fff; 
    height: 50%;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px 0px rgba(128, 112, 22, 0.2);
    position: relative;
    top: 0;
}

.portfolio .boxs .box img{
    width: 100%;
    height: 100%;
}

 .portfolio .boxs .box .box-hover{ 
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
    opacity: 0;
}
.portfolio .boxs .box h2{
    text-align: center;
}
.portfolio .boxs .box:hover .box-hover{
    opacity: 1;
}
.portfolio .boxs .box .box-hover span{
    color: #fff;
    font-size: 25px;
}
.portfolio .sec-top h2{
    margin-top: 30px;
    color: #0097b2;
}


/* start Contact */
#contact{
    font-size: 30px;

}

.contact{
    background: #f0f4f9;
}
.contact form{
    width: 60%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    direction: rtl;
}
.contact form input{
    width: 48%;
    font-size: 18px;
    padding: 15px 10px;
    outline: none;
    border: 1px solid rgba(128, 112, 22, 0.3);
    margin-bottom: 20px;
    border-radius: 10px;
}
.contact form textarea{
    border: 1px solid rgba(128, 112, 22, 0.3);
    outline: none;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
}
.contact form textarea:focus,
.contact form input:focus{
    border-color: #ffaa17;
}
.contact form button{
    margin: 40px auto 0;
    cursor: pointer;
}
/* Media */

@media(max-width:1200px){
    .contanier{
        width: 90%;
    }
    
    .hero{
        padding-bottom: 40px;
    }
    
    .about .content p{
        margin-bottom: 50px;
    }
    .about .about-img img{
        width: 380px;
    }
    .services .boxs .box h3{
        font-size: 22px;
    }
    .contact form{
        width: 70%;
    }

}
@media(max-width:900px){
    
    header nav .nav-links a{
        margin-left: 40px;
    }
    .about .contanier{
        flex-direction: column;
        text-align: center;
    }
    .about .about-img img{
        width: 340px;
    }
    .about .about-img {
        margin-bottom: 40px;
    }
    .boxs .box{
        width: 45%;
        margin-bottom: 40px;
    }
    .contact form{
        width: 80%;
    }
}
@media(max-width:780px){
    .hero .contanier{
        flex-direction: column-reverse;
    }
    .hero .hero-img img{
        width: 380px;
    }
    .hero .content h1{
        font-size: 50px;
    }
    .hero .content{
        margin-top: 40px;
        text-align: center;
    }
    .btn{
        padding: 12px 25px;
    }
    #btn-menu{
        display: block;
         font-size: 35px;
      cursor: pointer;
      padding: 10px; 
       color: #fff; 

    }
    header nav .nav-links{
    
        position: absolute;
        top: -350px;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction:column; 
        background-color:  #0097b2;  
     
    }

     header nav .nav-links.active{
       top: 100%; 
    } 
    header nav .nav-links a{
        width: 100%;
        margin: auto;
        padding: 20px;
        text-align: center;
        font-size: 20px; 
        
       
    }
    header nav .nav-links a.active,
    header nav .nav-links a:hover{
        background-color: #e4ddd0;
        color: #1c1e22;
    
    }
    
}

@media(max-width:670px){
    .hero .content h1{
        font-size: 40px;
    }
    .hero .hero-img img{
        width: 320px;
    }
    .boxs{
        justify-content: center;

    }
    .boxs .box{
        width: 70%;
    }
    .contact form{
        width: 90%;
    }
    .content .icon{
        justify-content: center;
    }
}
@media(max-width:500px){
   
    .contact form{
        width: 90%;
        justify-content: center;

    }
     .contact form input{
        width: 100%;
    
    } 
    input{
        flex-wrap: wrap;
    }
    .content .icon{
        justify-content: center;
    }
.whatsapp-widget {
   position: fixed; 
  bottom: 25px;
  left: 25px;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 30px;
  z-index: 1000;

  
}

.whatsapp-widget a {
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

.whatsapp-widget i.fab.fa-whatsapp {
  font-size: 30px;
}


}
.whatsapp-widget {
    position: fixed;  
    bottom: 25px; 
   left: 10px;
   width: 60px;
   height: 60px; 
   text-align: center;
   margin-bottom: 25px;
}
.whatsapp-widget i{
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}


.footer {
  background-color:  #0097b2;
  color: #fff;
  padding: 20px 10px;
}
.foot{
    align-items: end;
}

.footer-container {
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content:space-between ;
  align-items: center;
  flex-wrap: wrap;
}

.footer-left,
.footer-center,
.footer-right {
  flex: 1;
  text-align: center;
}

.footer-left {
  text-align: left;
}
 
.footer-right {   
  text-align: right;
  margin-right: 30px;
  margin-bottom: 25px;
  justify-content: center; 
  
  
  
} 

.footer-center p {
  margin: 0;
  font-size: 14px;
}
.social-icons{
    display: flex;
    gap: 5px;
    justify-content: start; 
  align-items:start;
  
}

.social-icons a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;         
  height: 30px;
  border-radius: 50%;  
  background-color: #fff;
  color: #222;       
  font-size: 20px;
  transition: 0.3s;
  text-decoration: none;
}



.social-icons a:hover {
background-color: #1DA1F2;
  color: #fff;
}

.arrow-up {
  font-size: 30px;
  color:  #0097b2;
  transition: color 0.3s;

}

.arrow-up:hover {
  color: #00aced;
}

 .icon{
    margin-left: 30px; 
    font-size: 45px;
    margin-bottom: 20px;
} 


.footer .con{
    color: #fff;
}


/* .container{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    padding: 50px; */
    /* gap: 10px; */
    
    /* gap: 10px;
   
    
   
} */

.container img{
    width: 100%;
    /* align-self: center; */
    
    /* height: 400px; */
   margin-right: 5px;
            
    border-radius: 20px;
} 
.container .card{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
   
}
.container .card h2{
    font-size: 30px;
    color:#032c3179 ;

}
.container .card p{
    color: #000;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin-right: 20px;
}




.container .call{
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1%;
    margin-top: 40px;
    /* margin-bottom: 20%; */
    border-radius: 30px;
    background-color: #30bacc79;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
   
   
} 
.container p{
    font-size: 22px;
}
.container .i-1{
 box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
   width: 120px;
   height: 90px;
   padding: 20px 15px;
   border-radius: 15px;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;
   position: absolute;
   bottom:   -15%;
   right:  40px;
}
.container .i-2{
 box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
   width: 120px;
   height: 90px;
   padding: 20px 15px;
   border-radius: 15px;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;
   position: absolute;
   bottom:   -15%;
   right:  200px;
}
.container .i-3{
 box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
   width: 120px;
   height: 90px;
   padding: 20px 15px;
   border-radius: 15px;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;
   position: absolute;
   bottom:   -15%;
   right:  350px;
   
}

.container  i{
    font-size: 30px;
      
}

 .content .icon i{
    font-size: 30px;
    color: #0097b2;
} 
.content p{
    font-size: 20px;
}
.content h6{
    color: #0097b2;

}

